<p>usuario works!</p>
<div>Nome Usuario</div>
<div>{{usuario.nome}}</div>
<p></p>
<div>Email Usuario</div>
<div>{{usuario.email}}</div>
<p></p>
<p></p>
<table border="1">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Email
        </th>
    </tr>
    <tr  *ngFor="let u of usuarios;">
        <td>
            {{u.nome}}
        </td>
        <td>
            {{u.email}}
        </td>
    </tr>
</table>
<button routerLink="add">Add</button>
<p></p>
<div>
    <button (click)="clickTransfDadosTelaParaObjetoNoComponent()">CLICAR PARA ADD UM TEXTO EM [text]</button>
</div>
<div>
    <h4>
        Valor do objeto [text] no momento e = {{text}}
    </h4>
</div>
